<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Qute Hello World</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <style>
            .navbar {
                margin-right: 25%;
                margin-left: 25%;
            }

            .navbar > * {
                margin-right: 5px;
                margin-left: 5px;
            }

            .navbar-button {
                width: 40%;
            }
        </style>
    </head>
    <body>
        <div class="display-row center-content navbar">
            <a class="btn btn-primary navbar-button" href="/todo" role="button"> Visit The Todo List </a>
            <a class="btn btn-primary navbar-button" href="/users" role="button"> Visit The User Manager </a>
        </div>
    </body>
</html>